.main__nav{
    display: flex;
    justify-content: space-between;
}
.main__div{
    width: 460px;
    padding-bottom: 50px;
    padding: 10px;
}
.main__img{
    padding: 50px 0 0 0;
}
.main__heading{
    font-size: 77px;
}
.main__text{
    padding-bottom: 20px;
    font-size: 28px;
    width: 460px;
}
.main__link{
    background-color: #5454D4;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
}
.main__item{
    width: 307px;
    text-align: center;
}
.learn{
    color: #5454D4;
    font-size: 20px;
}
.learn:hover{
    color: #2d2d92;
}

@media(max-width: 900px){
    .main__nav{
        display: block;
    }
    .main__list{
        flex-wrap: wrap;
    }
    .main__text{
        width: auto;
        font-size: 25px;
    }
}
@media(max-width: 700px){
    .main{
        width: 550px;
    }
    .main__img{
        width: 100%;
        margin-left: 40px;
    }
    .main__div{
        margin-left: 50px;
    }
    .main__heading{
        width: auto;
        font-size: 50px;
    }
    .main__list{
        justify-content: center;
    }
}
@media(max-width: 550px){
    .main{
        width: 400px;
    }
    .main__heading{
        width: 380px;
        font-size: 40px;
    }
    .main__text{
        width: 350px;
        font-size: 18px;
    }
}
@media(max-width: 550px){
    .main{
        width: 300px;
    }
    .main__div{
        width: auto;
        margin-left: 0;
    }
    .main__heading{
        width: 300px;
        font-size: 30px;
    }
    .main__text{
        width: 300px;
        font-size: 16px;
    }
    .main__img{
        margin-left: 10px;
    }
    .index{
        width: 255px;
        margin-left: 10px;
    }
}